.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.Titulo {
    color: rgb(218, 28, 76);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}